@font-face {
  font-family: 'Press Start 2P';
  /*src: url('PressStart2P-Regular.ttf');*/
  src: url('arcade.ttf');
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P';
}